@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom class for the images */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-image {
  max-width: 100%; /* Ensures the image doesn't exceed the container */
  height: auto; /* Allows the image to maintain its aspect ratio */
}


.announcement-ticker ul {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
