@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom class for the images */

im{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-image {
  max-width: 100%; /* Ensures the image doesn't exceed the container */
  height: auto; /* Allows the image to maintain its aspect ratio */
}


.announcement-ticker ul {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}


/* login box  */

  .glow-border {
    animation: glowing-border 1500ms infinite alternate;
  }

  @keyframes glowing-border {
    from {
      box-shadow: 0 0 5px #F26419;
    }
    to {
      box-shadow: 0 0 20px #007cf0;
    }
  }

