@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom class for the images */
.custom-image {
  width: 1569px;
  height: 680px;
  object-fit: cover; /* To maintain aspect ratio */
}


.announcement-ticker ul {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
